---
# Available rules: https://github.com/eslint/eslint/blob/master/docs/rules/README.md

rules:
  quotes: [1, "single", "avoid-escape"]
  curly: "multi"
  guard-for-in: 1
  global-strict: 2, "always"
  consistent-this: [1, "self"]
  #func-names: 1
  #func-style: [1, "declaration"]
  space-after-keywords: [1, "always"]
  #space-in-brackets: [1, "always"]
  dot-notation: 2
  no-use-before-define: 0
  handle-callback-err: 0
  no-underscore-dangle: 0  # st3 plugin does not heed this one?

  #TODO: make this rule work and also allow use before define (for inherits, lint checks become quite minimal this way, oh well quoting and spacing is most important anyway)
  no-underscore-dangle: 1

# development-only rules?
  no-constant-condition: 0
  no-comma-dangle: 0
  no-unused-vars: 1

# needed, but does not exist
  #space-after-comma #https://github.com/eslint/eslint/issues/628

env:
  node: true

globals:
  jQuery: false
